<div class="grid-container">
  <div class="grid-item" *ngFor="let product of products; let i = index">
    <div class="product-card">
      <div class="product-image-wrapper">
        <img class="product-image" [src]="product.image" [alt]="product.name" />
        <div class="promo-badge" *ngIf="isPromo(product)">
          Promo: {{ product.promoVal }}% Off
        </div>
        <div class="promo-badge" *ngIf="!isPromo(product)">No Promo</div>
      </div>
      <div class="product-card-body">
        <h3 class="product-card-title">
          {{ product.name }}
        </h3>
        <span class="product-card-price"> {{ product.price }} CFA </span>
      </div>
      <div>
        <button class="btn btn-primary">
          <span class="ui-icon ui-icon-plusthick">+</span>
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
